:host {
    div {
        font-family: sans-serif;
        border: 1px solid #b5c6d0;
        color: #1c1c1c;
        background-color: #efefef;
        border-radius: 6px;
        padding: 6px;
        display: inline-block;
    }
}